{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accordian</title>
    <link rel="stylesheet" type="text/css" href="{% static '' %}assets/css/faq.css">
    <script src="https://kit.fontawesome.com/35a5045c9a.js" crossorigin="anonymous"></script>

</head>
<body>
    <h2>FAQ's</h2>
    <div class="accordian">
        <div class="question">

            <h4>When will Atul leave this job</h4>
            <i class="icon fa-sharp fa-solid fa-caret-down"></i>
        </div>
        <div class="answer">
            <p>ooo toh pata nahi</p>

        </div>
    </div>
    <div class="accordian">
        <div class="question">

            <h4>Is there any good place for boys to live in Mohali</h4>
            <i class="icon fa-sharp fa-solid fa-caret-down"></i>
        </div>
        <div class="answer">
            <p>Yes, but for that they have to change their gender</p>

        </div>
    </div>
    <div class="accordian">
        <div class="question">

            <h4>pink?</h4>
            <i class="icon fa-sharp fa-solid fa-caret-down"></i>
        </div>
        <div class="answer">
            <p>still searching.............</p>

        </div>
    </div>
<script src="{% static '' %}assets/js/faq.js"></script>
</body>
</html>