{% load static %}
<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registration or Sign Up form in HTML CSS | CodingLab </title>
    <link rel="stylesheet" href="style.css">
   </head>

<body>
  <div class="wrapper">
    <h2>Registration</h2>
    <form action="register" method="POST">
      {% csrf_token %}
      <div class="w3-secction">
      <div class="w3-secction">
<label style="background-color:rgb(255 255 255);">First Name :</label>
<input type="text" name="first_name" style="width: 50%"  placeholder="First Name*">
</div><br>

<div class="w3-section">
    <label style="background-color:rgb(255 255 255);">Last Name :</label>
<input type="text" name="last_name" style="width: 50%" placeholder="Last Name*">
</div><br>

<div class="w3-section">
    <label style="background-color:rgb(255 255 255);">Username :</label>
<input type="text" name="username" style="width: 50%" placeholder="Username*">
</div><br>

<div class="w3-section">
    <label style="background-color:rgb(255 255 255);">Email-Id :</label>
<input type="email" name="email" style="width: 50%" placeholder="Email*">
</div><br>

<div class="w3-section">
    <label style="background-color:rgb(255 255 255);">Password :</label>
<input  type="password" name="password1" style="width: 50%" placeholder="Password*">
</div><br>

<div class="w3-section">
    <label style="background-color:rgb(255 255 255);">Password :</label>
<input type="password" name="password2" style="width: 50%" placeholder="Verify Password*">
</div><br>

      <div class="input-box button">
        <input type="Submit" value="Register Now">
      </div>
      <div class="text">
        <h3>Already have an account? <a href="login">Login now</a></h3>
      </div>
      <div class="text">
        <h3>Go Home <a href="/">Click</a></h3>
      </div>
    </form>
      <
  </div>
</body>
</html>